
#
# This file is part of the `src-run/srw-app` project.
#
# (c) Rob Frawley 2nd <rmf@src.run>
#
# For the full copyright and license information, view the LICENSE.md
# file distributed with this vinylSourceStream code.
#

parameters:
  database_driver: mysqli
  database_host: 127.0.0.1
  database_port: null
  database_name: srw-app
  database_user: srw-app
  database_password:
  database_charset: utf8mb4
  database_version: 5.6
  mailer_transport: smtp
  mailer_host: smtp.sparkpostmail.com
  mailer_port: 2525
  mailer_user: SMTP_Injection
  mailer_password:
  mailer_spool: db
  secret:
